[submodule "robonix/driver/realsense_ros2/src/realsense-ros"]
	path = robonix/driver/realsense_ros2/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "capability/grasp_detection/src/graspnetAPI"]
	path = capability/grasp_detection/src/graspnetAPI
	url = https://github.com/graspnet/graspnetAPI.git
[submodule "capability/grasp_detection/src/graspnet_baseline"]
	path = capability/grasp_detection/src/graspnet_baseline
	url = https://github.com/graspnet/graspnet-baseline.git
[submodule "driver/agilex_piper/src/piper_ros"]
	path = driver/agilex_piper/src/piper_ros
	url = https://github.com/agilexrobotics/piper_ros.git
	branch = humble
[submodule "driver/orbbec_depth_camera/src/OrbbecSDK_ROS2"]
	path = driver/orbbec_depth_camera/src/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
